{% extends 'big_data/base.html' %}

{% block title %}
详细统计
{% endblock %}


{% block css %}
<link rel="stylesheet" href="/static/css/dashboard/detail.css">
{% endblock %}

{% block js %}
<script src="/static/js/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/pic.js"></script>
<script type="text/javascript" src="/static/js/aj.js"></script>
{% endblock %}

{% block right_side %}
    <div class="row" id="row1"> <!--row1用来安置按钮-->
        <div class="form-inline">
                <br>
                <select id="option" class="form-control" >
                    <option  value="jobName" >职业</option>
                    <option  value="edu" selected="selected">教育背景</option>
                    <option  value="exp">工作经验</option>
                    <option  value="companyType">公司类型</option>
                    <option  value="address">地区</option>
                    <option  value="companyOrientation">公司领域</option>
                    <option  value="salary">薪水</option>
                    <option value="date">日期</option>
                    <option value="offerNumber">招人数量</option>
                    <option value="staffNumber">员工数量</option>
                    <option value="unifyName">领域</option>
                </select>

                {% csrf_token %}

                <div id="option_grp">
                    <select id="option2" class="form-control" >
                        <option  value="jobName" selected="selected">职业</option>
                        <option  value="edu" >教育背景</option>
                        <option  value="exp">工作经验</option>
                        <option  value="companyType">公司类型</option>
                        <option  value="address">地区</option>
                        <option  value="companyOrientation">公司领域</option>
                        <option  value="salary">薪水</option>
                        <option value="date">日期</option>
                        <option value="offerNumber">招人数量</option>
                        <option value="staffNumber">员工数量</option>
                        <option value="unifyName">领域</option>
                    </select>

                    <select id="option3" class="form-control" >
                        <option  value="jobName" >职业</option>
                        <option  value="edu" selected="selected">教育背景</option>
                        <option  value="exp">工作经验</option>
                        <option  value="companyType">公司类型</option>
                        <option  value="address">地区</option>
                        <option  value="companyOrientation">公司领域</option>
                        <option  value="salary">薪水</option>
                        <option value="date">日期</option>
                        <option value="offerNumber">招人数量</option>
                        <option value="staffNumber">员工数量</option>
                        <option value="unifyName">领域</option>
                    </select>
                </div>

        </div>
    </div>

    <div class="row" id="row2"> <!--row2用来画图-->

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 " id="pic1" ><!--bar_grpByOne-->

        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="pic2" ><!--bar_grpByTwo-->

        </div>

    </div>


    <div class="row" id="row4"> <!--row4用来画图-->

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="pic3" ><!--line-->

        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="pic4" ><!--pie-->

        </div>
    </div>


    <script>
    var lab1 = {{ lab| safe }};
    var val1 = {{ val| safe }};
    var t1="分类统计";

    var bar_grpByOne=draw_bar(lab1,val1,"pic1",t1);

    var lab2={{ lab2 | safe }};
    var val2={{ val2 | safe }};
    var t2="Offer前五";

    var bar_grpByTwo=draw_bar(lab2,val2,"pic2",t2);

    var lab3={{ ofs_w.0 | safe }};
    var val3={{ ofs_w.1 | safe }};
    var t3="一周内offer";

    var line=draw_line(lab3,val3,"pic3",t3);

    var lab4={{ cmp_o.0 | safe }};
    var val4={{ cmp_o.1 | safe }};
    var t4="不同领域的offer量";

    var pie=draw_pie(lab4,val4,"pic4",t4);

</script>

<script>
    aj_grpByone("#option","#option","/groupByOneFeature",bar_grpByOne,"分类统计"); //ajax请求，用于bar_grpByOne
    aj_grpBytwo("#option2","#option2","#option3","/groupByTwoFeatures",bar_grpByTwo,"Offer前五");//ajax请求，用于bar_grpByTwo，作用于第一个按钮
    aj_grpBytwo("#option3","#option2","#option3","/groupByTwoFeatures",bar_grpByTwo,"Offer前五");//ajax请求，用于bar_grpByTwo，作用于第一个按钮
</script>
{% endblock %}