{% extends 'big_data/base.html' %}
{% block title  %}
    DashBoard
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/dashboard/jobinfo.css">

{% endblock %}

{% block js %}
    <script>
      function next_page()
      {
          var a=document.getElementById("next");
          var page={{ page }}+1;
          var total_pages={{ total_pages | length}};

          if( page <= total_pages)
          {
              a.setAttribute("href",page);
          }
          else
          {
              confirm("已经到最后一页了.");

          }
      }
      function previous_page()
      {
          var a=document.getElementById("previous");
          var page={{ page }}-1;
          var total_pages={{ total_pages | length}};

          if( page <1)
          {
            confirm("已经到第一页.");
          }
          else
          {
            a.setAttribute("href",page);
          }
      }

      function get_option()//得到用户输入的页面后 跳转至该页
      {
        var input=document.getElementById("input");
        var val=parseInt(input.value);
        var total_pages={{ total_pages |length }};

        if(isNaN(val))
        {
          window.alert("请输入一个正确的页数！");
        }
        else if( val>total_pages )
        {
          window.alert("输入页数大于当前最大页数！");
        }
        else
        {
          form.action=val;
        }

      }

  </script>
{% endblock %}

{% block right_side %}


<div id="jobinfo">
    <div class="btn-group" id="btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        查询 <span class="caret"></span>
      </button>

        <ul class="dropdown-menu" role="menu">
            <!--将从views.home得到的值生成li-->
            {% for un in uName%}
                        {% if un == special %}<!--这里因为C#的#属于特殊字符，必须用%23代替，
                                                    暂时没想到别的方法-->
                            <li style="cursor:pointer;">
                            <a href='/dashboard/jobinfo/C%23/1' >{{special}}</a>
                            </li>
                        {% else %}
                            <li style="cursor:pointer;">
                            <a href='/dashboard/jobinfo/{{un}}/1' >{{un}}</a>
                            </li>
                        {% endif %}

            {% endfor %}
        </ul>
    </div>



  <h1 id="h1">{{ unifyName }}共有{{ offers}}个offer</h1>
  <div class="container" id="table">
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th><i class="fa fa-tag">ID</th>
                  <th><i class="fa fa-link"></i>职业名</th>
                  <th><i class="fa fa-suitcase"></i>公司名</th>
                  <th><i class="fa fa-rmb"></i>薪水(万/月)</th>
              </tr>
          </thead>
          <tbody>
              {% for j in job_dices %}
                <tr id="{{ forloop.counter }}tr">
                    <script>//<!--用于给记录上ID-->
                          var page={{ page }}-1;
                          var tr=document.getElementById("{{ forloop.counter }}tr");

                          var id=page*{{ per_page }}+{{ forloop.counter }};

                          var td=document.createElement("td");
                          td.innerHTML=id;
                          tr.appendChild(td);

                    </script>

                    <td><a href={{j.jobURL}}>{{j.jobName}}</a></td>
                    <td>{{j.company}}</td>
                    <td>{{j.salary}}</td>
                </tr>
                {% empty %}
                        <h1>暂时没有你要找的信息</h1>
              {% endfor %}
          </tbody>
      </table>
        <nav aria-label="Page navigation" id="page_nav">
              <ul class="pagination pagination-lg" id="ul_t">
                  <li>
                    <a id="previous" href="#" aria-label="Previous" onclick="previous_page()">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                    <script>

                      var total_pages={{ total_pages |length }};
                      var page={{ page }}; //当前页数
                      var count=0;

                      for(i=page;i<=total_pages;i++)
                      {
                        var p=document.getElementById("ul_t");
                        var li=document.createElement("li");
                        var a=document.createElement("a");

                        if (count == 10) //10页以上显示...和最后一页的按钮
                        {
                          a.innerHTML="...";
                          a.setAttribute("href","#");

                          li.appendChild(a);
                          p.appendChild(li);

                          var f_l=document.createElement('li');
                          var f_a=document.createElement('a');

                          f_a.innerHTML=total_pages;
                          f_a.setAttribute("href",total_pages);

                          f_l.appendChild(f_a);
                          p.appendChild(f_l);

                          break;
                        }


                        a.innerHTML=i;
                        a.setAttribute('href',i);

                        li.appendChild(a);

                        if(i==page)
                        {
                          li.setAttribute("class","active")
                          p.appendChild(li);
                        }
                        else
                        {
                          p.append(li);
                        }

                        count +=1;

                      }

                     </script>

                  <li>
                    <a id="next" href="#" aria-label="Next" onclick="next_page()">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>

                  <form  class="navbar-form navbar-left" method="POST" id="form" >
                    {% csrf_token %}

                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" id="input">
                    </div>

                    <button type="submit" class="btn btn-default navbar-btn" onclick="get_option()" id="to_page">跳转至该页</button>
                    {% csrf_token %}
                  </form>
              </ul>


        </nav>
  </div>
</div>
{% endblock %}

