{% extends 'big_data/base.html' %}

{% block title %}
DashBoard
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/dashboard/stats.css">
{% endblock %}

{% block js %}
<script src="/static/js/echarts/dist/echarts.min.js"></script>
{% endblock %}

{% block right_side %}
<div id="stats">
    <div class="btn-group" id="button">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        查询 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="jobName" >职业</a> </li>
            <li><a href="edu">教育背景</a></li>
            <li><a href="exp">工作经验</a></li>
            <li><a href="companyType">公司类型</a></li>
            <li><a href="address">地区</a></li>
            <li><a href="companyOrientation">公司领域</a></li>
        </ul>
    </div>

    <div id="main">

    </div>

</div>

<script type="text/javascript">
    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);

    var lab = {{ lab | safe }};
    var data = {{ data | safe }};

{#    var data = [[1,2,3],[1,2,3]];#}
{#    var lab = ['1','2','3'];#}

    console.log(data);
    var option="{{ option | safe }}";
    option="不同"+option+"的薪水";


    option = {
        legend: {},
        tooltip: {},

        dataset: {
            source: data
        },
        xAxis: {
            type: 'value',
            axisLabel: {
                interval: 0
            },
            name: "月薪(万/月)",

        },
        yAxis: {
            type: 'category',
            data:lab,
            axisLabel: {
                interval: 0,
                // rotate: 30
                formatter : function(value){
                    var len=value.length;//单个标签的字符长度
                    var max_num=10;
                    var row_num=Math.ceil(len/max_num);

                    var last_str="";

                    if(row_num > 1)
                    {
                        for (var i=0;i<row_num;i++)
                        {
                            var temp="";
                            var start=i*max_num;
                            var end=start+max_num;

                            if ( i== row_num -1)
                            {
                                temp=value.substring(start,len);
                            }
                            else
                            {
                                temp=value.substring(start,end)+"\n";
                            }

                            last_str += temp;


                        }
                    }
                    else
                    {
                        last_str=value;
                    }

                    return last_str;

                  }
            },

        },
        brush: {
            toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
            xAxisIndex: 0
        },
        title:{
            show:true,
            left:'left',
            text:option
        },
        grid: {
            show:true,
            borderColor:"#c45455",
            left:"20%",//grid 组件离容器左侧的距离。

            },


        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [{
                type: 'bar',
                data:data[0],
                name:'min'
            },
            {
                type: 'bar',
                data:data[1],
                name:'medium'
            },
            {
                type: 'bar',
                data:data[2],
                name:'max'
            }

        ],
        toolbox:{
            feature: {
                magicType:
                 {
                    type: ['stack', 'tiled']
                }
            }
        }
    };



    // 使用刚指定的配置项和数据显示图表。
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>

{% endblock %}