body
{
    height:1979px;
}

.container-fluid
{
    height: 100%;
}

#sidebar-row
{
    height: 100%;
}

h1 {
        font-weight:boldl;
        border-bottom:1px solid #bbb;
        padding:0 0 10px 0;
        text-align:center;
    }


#to_page{
  transform: translateX(20%);
}

#input
{
    position: relative;
    top: 10px;
}


<!-- 能力分类-->
.quarter-div{
    width: 33.3%;
    height: 90%;
    float: left;
    display: inline-block;
}
.professional{
    width: 30%;
    outline-width: 50px;
    background-color: #C2D9CD;
    display: inline-block;
}
.persion{
    width: 30%;
    background-color: #538797;
    display: inline-block;
}
.tool{
    width: 30%;
    background-color: #FF842A;
    display: inline-block;
}

#row1
{
    background-color: gray;
    height: 250px;
    margin: 30px;
    padding: 20px
}

#row2
{
    height: 35px;
    margin: 30px;
    display: none
}

#row3
{
    height: 450px;
    margin: 30px;
    display: none;
    margin-bottom: 0px
}

.wordCloud
{
    width: 100%;
    height:300px;
}

#row4
{
     height: 1030px;
    margin: 30px;
    padding: 20px;
    display: none;
    margin-top: 0px
}



/*火狐用*/
@-moz-document url-prefix()
{
    #testButton
{
    position: relative;
    bottom: 6px;
}

   #userButton
{
    position: relative;
    bottom: 6px;
}
}
