<!DOCTYPE html>
<html>
<head>
    <title>大数据职业分析</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/static/css/home.css">
   

    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script> 
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script> 
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" /></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/i18n/defaults-*.min.js" /></script>
    <script type="text/javascript" src="/static/js/common.js"></script>

</head>
<body class="home win"> 
    <div style="width:100%;text-align:center" class="bg">
           
        {% include 'big_data/nav.html' %} <!--引入导航栏-->

        <!--页面构成分为 侧导航栏+主页面-->
           
        <div class="container-fluid">
            <div class="row">
                <!--侧导航栏-->
                <div class="col-md-2" style="height: 1840px;background-color: #222;">
                    <nav class="navbar navbar-inverse " id="sidebar-wrapper" role="navigation" style="border-width:0px;background-color: #222;">
                            <ul class="nav sidebar-nav">
                                <li class="sidebar-brand">
                                    <a href="#" class="sidebar-brand">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        应用栏
                                    </a>
                                </li>                 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="glyphicon glyphicon-signal"></i> 薪水统计 <span class="caret"></span>
                                    </a>                  
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="salary/jobName" >职业</a> </li>
                                        <li><a href="salary/edu">教育背景</a></li>
                                        <li><a href="salary/exp">工作经验</a></li>
                                        <li><a href="salary/companyType">公司类型</option></li>
                                        <li><a href="salary/address">地区</a></li>
                                        <li><a href="salary/companyOrientation">公司领域</a></li>
                                    </ul>
                                    </li>          
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="glyphicon glyphicon-list"></i> Offer查询 <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                    <!--将从views.home得到的值生成li-->
                                    {% for un in uName%}
                                                {% if un == special %}<!--这里因为C#的#属于特殊字符，必须用%23代替，
                                                                            暂时没想到别的方法-->
                                                    <li style="cursor:pointer;">
                                                    <a href='C%23/1' >{{special}}</a>
                                                    </li>
                                                {% else %}
                                                    <li style="cursor:pointer;">
                                                    <a href={{un}}/1 >{{un}}</a>
                                                    </li>
                                                {% endif %}
                                                
                                    {% endfor %}                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="detail">详细统计</a>
                                </li>
                            </ul>
                        </nav>
                </div>
                <!--主页面-->
                <div class="col-md-10">
                        <div class="alert alert-warning" role="alert">施工中！页面设计请以正式版本为准！</div>
                        <div id="home-block" class="jumbotron">
                                <div  class="container">
                                        <div class="row">
                                                <h1>大数据职业分析与查询v1.1</h1>
                                                <p>实践项目，Java爬取51job清洗放入MySQL数据库，<br>应用服务器Django处理业务逻辑，前端页面可视化职位相关信息</p>
                                                <p><a class="btn btn-primary btn-lg" href="https://github.com/255-1/SpiderJob-BigData" role="button">了解更多</a></p>
                                                <div class="screenshot1"></div>
                                        </div>
                                    </div>
                        </div>
                                         
                    <div id="meet-intellisense" class="swimlane">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="/static/pic/home/Intellisense.png" alt="Intellisense" class="screenshot">
                                    </div>
                                    <div class="col-sm-7 col-sm-push-1">
                                        <h2>Spider-Project</h2>
                                        <ul class="highlight-ul">
                                            <li>&nbsp;全面的数据统计</li>
                                            <li>&nbsp;海量大数据</li>
                                            <li>&nbsp;简单而快捷的查询</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
            
                            <div id="powerful-debugging" class="jumbotron">   
                                    <div class="container">
                                        <div class="row">
                                            <div  class="col-sm-4 col-sm-push-8" style="left: 60%;">
                                                <img src="/static/pic/home/debug.svg" alt="Debugging" class="screenshot">
                                            </div>
                                            <div class="col-sm-7 col-sm-pull-4">
                                                <h2>特别牛逼的爬虫功能！指哪爬哪！</h2>
                                                <p>拿起你手中的电话，只要998！只要998！马上为你@#￥%……&*（</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4 ">
                                        <img src="/static/pic/home/tool.png" alt="Debugging" class="screenshot" style="width: 400px;height: 300px;">                                    </div>
                                    <div class="col-sm-7 col-sm-push-1">
                                        <h2>强力工具打造</h2>
                                        <p style="font-size: 21px;">
                                            宇宙IDE打造的大师级网站！点击就送病毒，偷窃您宝贵的个人信息！
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div> 
        <footer role="contentinfo">
                <div class="container">
                    <div class="row">
                        <div class="left col-md-7">
                            <ul class="links">
                                <li>
                                    <span class="message" style="color: burlywood;">Hello,World.</span>
                                </li>
                                <li>
                                    <a href="https://go.microsoft.com/fwlink/?LinkID=533687" onclick="followBoss()" role="button" tabindex="0">联系我们</a>
                                </li>
                                
            
                                <script>
                                    function followBoss() {
                                        var windowFeatures = "location=yes,height=600,width=550,scrollbars=yes,status=yes";
                                        var originalReferer = "&original_referer=" + document.URL;
                                        var screenName = "&screen_name=code";
                                        var URL = "https://github.com/255-1";
                                        window.open(URL, "_blank", windowFeatures);
                                    }
                                </script>
                            </ul>
                        </div>
                        <div class="right col-md-5">
                            <ul class="links">
                                <li><a id="footer-support-link" href="https://support.microsoft.com/en-us/getsupport?wf=0&amp;tenant=ClassicCommercial&amp;oaspworkflow=start_1.0.0.0&amp;locale=en-us&amp;supportregion=en-us&amp;pesid=16064&amp;ccsid=636196895839595242" target="_blank">技术支持</a></li>
                                <li><a id="footer-privacy-link" href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">隐私条例</a></li>
                                <li><a id="footer-terms-link" href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx" target="_blank">使用手册</a></li>
                                <li><a id="footer-license-link" href="/License">支持协议</a></li>
                            </ul>
                            <br>
                            <div class="copyright">
                                <span style="color: azure;">© 2019 Xkimnt</span>                      
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>  
    </div>

    <script>
        //用来处理激活的导航栏
        active_on();
    </script>
</body>
</html>