<!DOCTYPE html>
<html>
<head>
    <title>Offer查询</title>
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/static/css/home.css">


    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script> 
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script> 
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" /></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/i18n/defaults-*.min.js" /></script>
    <script type="text/javascript" src="/static/js/common.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        h1 { 
                font-weight:boldl;
                border-bottom:1px solid #bbb;
                padding:0 0 10px 0;
                text-align:center;
            }
        a:link{
          color:black;
        }
        a:visited{
          color: red;
        }
        a:hover{
            color:skyblue;
        }
        tr:hover{
          background-color:rgb(49, 178, 196);
        }
        #to_page{
          transform: translateX(20%);
        }
        
    </style>  
    <script>
      function next_page()
      {
          var a=document.getElementById("next");
          var page={{ page }}+1;
          var total_pages={{ total_pages | length}};

          if( page <= total_pages)
          {
              a.setAttribute("href",page); 
          }
          else
          {
              confirm("已经到最后一页了.");
             
          }
      }
      function previous_page()
      {
          var a=document.getElementById("previous");
          var page={{ page }}-1;
          var total_pages={{ total_pages | length}};

          if( page <1)
          {
            confirm("已经到第一页.");
          }
          else
          {
            a.setAttribute("href",page); 
          }
      }

      function get_option()//得到用户输入的页面后 跳转至该页
      {
        var input=document.getElementById("input");
        var val=parseInt(input.value);
        var total_pages={{ total_pages |length }};
        
        if(isNaN(val))
        {     
          window.alert("请输入一个正确的页数！"); 
        }
        else if( val>total_pages )
        {
          window.alert("输入页数大于当前最大页数！");
        }
        else 
        {
          form.action=val;   
        }
         
      }

  </script> 
</head>
<body>

  {% include 'big_data/nav.html' %} <!--引入导航栏-->

  <h1 >{{ unifyName }}共有{{ offers}}个offer</h1>
  <div class="container">
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>职业名</th>
                  <th>公司名</th>
                  <th>薪水(万/月)</th>
              </tr>
          </thead>
          <tbody>
              {% for j in jobinfo %}
                <tr id="{{ forloop.counter }}tr">
                    <script>//<!--用于给记录上ID-->
                          var page={{ page }}-1;
                          var tr=document.getElementById("{{ forloop.counter }}tr");

                          var id=page*{{ per_page }}+{{ forloop.counter }};

                          var td=document.createElement("td");
                          td.innerHTML=id;
                          tr.appendChild(td);
                          
                    </script>
                    
                    <td><a href={{j.jobURL}}>{{j.jobName}}</a></td>
                    <td>{{j.company}}</td>
                    <td>{{j.salary}}</td>
                </tr>
                {% empty %}
                        <h1>暂时没有你要找的信息</h1>
              {% endfor %}
          </tbody>
      </table>
        <nav aria-label="Page navigation">
              <ul class="pagination pagination-lg" id="ul_t">
                  <li>
                    <a id="previous" href="#" aria-label="Previous" onclick="previous_page()">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  
                    <script>

                      var total_pages={{ total_pages |length }};
                      var page={{ page }}; //当前页数
                      var count=0;

                      for(i=page;i<=total_pages;i++)
                      {
                        var p=document.getElementById("ul_t");
                        var li=document.createElement("li");
                        var a=document.createElement("a");

                        if (count == 10) //10页以上显示...和最后一页的按钮
                        {
                          a.innerHTML="...";
                          a.setAttribute("href","#");

                          li.appendChild(a);
                          p.appendChild(li);

                          var f_l=document.createElement('li');
                          var f_a=document.createElement('a');

                          f_a.innerHTML=total_pages;
                          f_a.setAttribute("href",total_pages);
                          
                          f_l.appendChild(f_a);
                          p.appendChild(f_l);

                          break;
                        }
                      

                        a.innerHTML=i;
                        a.setAttribute('href',i);

                        li.appendChild(a);
                        
                        if(i==page)
                        {
                          li.setAttribute("class","active")
                          p.appendChild(li);
                        }
                        else
                        {
                          p.append(li);
                        }

                        count +=1;

                      }
                      
                     </script>

                  <li>
                    <a id="next" href="#" aria-label="Next" onclick="next_page()">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                  
                  <form  class="navbar-form navbar-left" method="POST" id="form" style="display: inline-block;transform: translateY(-20%)">
                    {% csrf_token %}
                    
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" id="input">
                    </div>
                   
                    <button type="submit" class="btn btn-default navbar-btn" onclick="get_option()" id="to_page">跳转至该页</button>
                    {% csrf_token %}
                  </form>
              </ul>

              
        </nav>
  </div>

  <script>
    //用来处理导航栏的激活
    active_on();
  </script>

</body>
</html>
