<!DOCTYPE html>
<html >
<head>
    
    <meta charset="utf-8">
    <title>薪水统计</title>
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/echarts/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">

    
</head>
<body>
    {% include 'big_data/nav.html'%}

    <div class="container-fluid">
        <div class="row" >
           
                <div id="main" style="width:1400px;height: 1000px;" >
                </div>
                   
        </div>       
    </div>

    <script>
        var dom = document.getElementById("main");
        var myChart = echarts.init(dom);

        var data = {{ data | safe }};
        console.log(data);
        var option="{{ option | safe }}";
        option="不同"+option+"的薪水";


        option = {
            legend: {},
            tooltip: {},
            dataset: {
                source: data
            },
            xAxis: {
                type: 'value',
                axisLabel: {
                    interval: 0
                },
                name: "月薪(万/月)",
                
            },
            yAxis: {
                type: 'category',
            },
            brush: {
                toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
                xAxisIndex: 0
            },
            title:{
                show:true,
                left:'left',
                text:option
            },
            grid: {
                show:true,
                borderColor:"#c45455",
                left:"20%",//grid 组件离容器左侧的距离。
                
                },

            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [{
                    type: 'bar'
                },
                {
                    type: 'bar'
                },
                {
                    type: 'bar'
                }
            ],
            toolbox:{
                feature: {
                    magicType:
                     {
                        type: ['stack', 'tiled']
                    }
                }
            }
        };



        // 使用刚指定的配置项和数据显示图表。
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>

</body>
</html>