

#head1
{
    display: inline-block;
    margin-left: 300px;
}

#head2
{
    display: inline-block;
    margin-left: 600px;
}

#head3
{
    display: inline-block;
    margin-left: 300px;
}

#head4
{
    display: inline-block;
    margin-left: 500px;
}

#option
{
    margin-left: 300px;
}

#option2
{
    margin-left: 600px;
}

