#profile
{
    padding: 30px;
    margin-top: 30px;
    background-color: white;
    margin-left: 50px;
    margin-bottom: 30px;
}

.row-form div
{
    display: inline-block;
}

#workingYear
{
    width: 183.6px;
    height: 79px;
    position: relative;
    top: 9.7px;
}

#edu
{
    width: 183.6px;
    height: 79px;
    position: relative;
    top: 9.7px;
}

option
{
    border: 1px solid;
}

.Skill
{
    margin-bottom: 15px;
}

.Skill .form-group
{
    display: inline-block;
    width: 30%;
    /*margin: 0px 2px 0px 0px;*/
}

.Skill textarea
{
    height: 300px;
}

#personalSkill_form
{
    margin-left: 15px;
    margin-right: 15px;
}


#sex
{
    position: relative;
    bottom: 27.5px;
}