

body
{
    background-color: #233242;
}
#base
{
    margin: auto;
    padding-left: 30px ;
    padding-right: 30px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: absolute;
    width: 30%;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#register_btn
{
    position: relative;
    bottom: 20px;
}