<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/static/css/dashboard/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/font-awesome-4.7.0/css/font-awesome.css">
    {% block css %}
    {% endblock %}


    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" /></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/i18n/defaults-*.min.js" /></script>
    <script type="text/javascript" src="/static/js/common.js"></script>


     <script>
        <!--  跳转界面的时候，传应届生按键状态open-close -->
        function sendSwitchStatus(){
            var SwitchStatus = document.getElementById("graduateSwitch").value;
            const param = {
                SwitchStatus:SwitchStatus
            }
            const params = JSON.stringify(param);
            localStorage.setItem('params',params);
        }

        <!--页面加载完成后，解析跳转页面发来的数据-->
        $(function (){
            const param = JSON.parse(localStorage.params);

            // 获取页面元素并赋值
            var SwitchStatus = param.SwitchStatus;

            if(SwitchStatus == 'open'){

                var obj = document.getElementById("graduateSwitch");
                var value = obj.checked;
                obj.checked = true;// 设置复选框为选中状态
                clickSwitch();


            }

        });

        <!-- 应届生模式开关-->
        function clickSwitch() {
<!--            var currentColor = $("#aaa").css('color');-->
<!--            alert('侧边栏模块当前颜色' + currentColor);-->

            <!-- 改前颜色 + 应届生色   https://en.m.fontke.com/tool/rgb/008000/  -->
            var normalColor = 'rgb(128,128,128)';
            var graduateColor = '#90C56A';
            var graduateSideBarColor = "#11264f";
            var nonGraduateSideBarColor = "#233242"

            var graduateOpenOrNot=document.getElementById("graduateSwitch");
<!--			alert('改前value' + graduateOpenOrNot.value);-->

            <!-- 要改颜色的模块 改id即可 -->
            {#var changeColorDiv=document.getElementById('sidebar');#}
			var checked = document.getElementById("graduateSwitch");

            if(checked.checked){
                {#changeColorDiv.style.background=graduateColor;#}
                document.getElementById('switch-area').style.background = graduateColor;
                graduateOpenOrNot.value = 'open';

                document.getElementById('sidebar-wrapper').style.background = graduateSideBarColor;
                document.getElementById('sidebar').style.background = graduateSideBarColor;
                document.getElementById('navbar-brand').style.background = graduateSideBarColor;
            }else{
                {#changeColorDiv.style.background=normalColor;#}
                document.getElementById('switch-area').style.background = 'RGB(128,128,128)';
                graduateOpenOrNot.value = 'close';

                document.getElementById('sidebar-wrapper').style.background=nonGraduateSideBarColor;
                document.getElementById('sidebar').style.background = nonGraduateSideBarColor;
                document.getElementById('navbar-brand').style.background = nonGraduateSideBarColor;

            }
        }
        </script>
    {% block js %}
    {% endblock %}

    <style type="text/css">
        .anchorBL {
            display: none
        }
    </style>

</head>


<body>
        {% include 'big_data/nav.html' %} <!--引入导航栏-->

        <!--页面构成分为 侧导航栏+主页面-->




        <div class="container-fluid " >

            <div class="row" id="side-row">
                <!--侧导航栏-->
                <div class="col-md-2 "  id="sidebar">
                    <div class=" navbar-collapse collapse" id="sidebar-wrapper" role="navigation" >

                            <ul class="nav sidebar-nav">
                                <li class="sidebar-brand">
                                    <a href="#" class="sidebar-brand side-a" >
<!--                                        <i class="glyphicon glyphicon-cog"></i>-->
                                        应届生模式
                                        <div class="switch-btn">
                                            <input type="checkbox" class="hidden-checkbox" id="graduateSwitch"  value="close">
                                            <span class="switch-area" id="switch-area"></span>
                                            <span class="switch-toggle"></span>
                                        </div>

                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard" class="side-a " onclick="sendSwitchStatus()">
                                        <i class="fa fa-dashboard"></i>职位总览
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/profile" class="side-a" onclick="sendSwitchStatus()">
                                        <i class="fa fa-user-circle-o"></i>个人简历
                                    </a>
                                </li>


                                <li class="dropdown">
                                    <a href="/dashboard/jobinfo/前端/1/edu" class="side-a">
                                        <i class="glyphicon glyphicon-list"></i> 薪职查询
                                    </a
                                <li>
                                    <a href="/dashboard/jobmatch" class="side-a" onclick="sendSwitchStatus()">
                                        <i class="fa fa-binoculars"></i>职业匹配
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
                <!--主页面-->
                <div class="col-md-10" id="right_side">
                    {% block right_side %}
                    {% endblock %}

                </div>


</body>
<script>
    var areaList = {{ areaList| safe}};
    var countList = {{ countList| safe}}
    var minCount = Math.min.apply(null,countList);
    var maxCount = Math.max.apply(null,countList);
    var myChart = echarts.init(document.getElementById('map'));
    // var myChart2 = echarts.init(document.getElementById('map2'));
    var data = [];

    for (var i = 0; i < areaList.length; i++) {
        data.push({
            "name": areaList[i],
            "value": countList[i]
        });
    }
    var geoCoordMap = {
        '海门': [121.15, 31.89],
        '鄂尔多斯': [109.781327, 39.608266],
        '招远': [120.38, 37.35],
        '舟山': [122.207216, 29.985295],
        '齐齐哈尔': [123.97, 47.33],
        '盐城': [120.13, 33.38],
        '赤峰': [118.87, 42.28],
        '青岛': [120.33, 36.07],
        '乳山': [121.52, 36.89],
        '金昌': [102.188043, 38.520089],
        '泉州': [118.58, 24.93],
        '莱西': [120.53, 36.86],
        '日照': [119.46, 35.42],
        '胶南': [119.97, 35.88],
        '南通': [121.05, 32.08],
        '拉萨': [91.11, 29.97],
        '云浮': [112.02, 22.93],
        '梅州': [116.1, 24.55],
        '文登': [122.05, 37.2],
        '上海': [121.48, 31.22],
        '攀枝花': [101.718637, 26.582347],
        '威海': [122.1, 37.5],
        '承德': [117.93, 40.97],
        '厦门': [118.1, 24.46],
        '汕尾': [115.375279, 22.786211],
        '潮州': [116.63, 23.68],
        '丹东': [124.37, 40.13],
        '太仓': [121.1, 31.45],
        '曲靖': [103.79, 25.51],
        '烟台': [121.39, 37.52],
        '福州': [119.3, 26.08],
        '瓦房店': [121.979603, 39.627114],
        '即墨': [120.45, 36.38],
        '抚顺': [123.97, 41.97],
        '玉溪': [102.52, 24.35],
        '张家口': [114.87, 40.82],
        '阳泉': [113.57, 37.85],
        '莱州': [119.942327, 37.177017],
        '湖州': [120.1, 30.86],
        '汕头': [116.69, 23.39],
        '昆山': [120.95, 31.39],
        '宁波': [121.56, 29.86],
        '湛江': [110.359377, 21.270708],
        '揭阳': [116.35, 23.55],
        '荣成': [122.41, 37.16],
        '连云港': [119.16, 34.59],
        '葫芦岛': [120.836932, 40.711052],
        '常熟': [120.74, 31.64],
        '东莞': [113.75, 23.04],
         '河源': [114.68, 23.73],
        '淮安': [119.15, 33.5],
        '泰州': [119.9, 32.49],
        '南宁': [108.33, 22.84],
        '营口': [122.18, 40.65],
        '惠州': [114.4, 23.09],
        '江阴': [120.26, 31.91],
        '蓬莱': [120.75, 37.8],
        '韶关': [113.62, 24.84],
        '嘉峪关': [98.289152, 39.77313],
        '广州': [113.23, 23.16],
        '延安': [109.47, 36.6],
        '太原': [112.53, 37.87],
        '清远': [113.01, 23.7],
        '中山': [113.38, 22.52],
        '昆明': [102.73, 25.04],
        '寿光': [118.73, 36.86],
        '盘锦': [122.070714, 41.119997],
        '长治': [113.08, 36.18],
        '深圳': [114.07, 22.62],
        '珠海': [113.52, 22.3],
        '宿迁': [118.3, 33.96],
        '咸阳': [108.72, 34.36],
        '铜川': [109.11, 35.09],
        '平度': [119.97, 36.77],
        '佛山': [113.11, 23.05],
        '海口': [110.35, 20.02],
        '江门': [113.06, 22.61],
        '章丘': [117.53, 36.72],
        '肇庆': [112.44, 23.05],
        '大连': [121.62, 38.92],
        '临汾': [111.5, 36.08],
        '吴江': [120.63, 31.16],
        '石嘴山': [106.39, 39.04],
        '沈阳': [123.38, 41.8],
        '苏州': [120.62, 31.32],
        '茂名': [110.88, 21.68],
        '嘉兴': [120.76, 30.77],
        '长春': [125.35, 43.88],
        '胶州': [120.03336, 36.264622],
        '银川': [106.27, 38.47],
        '张家港': [120.555821, 31.875428],
        '三门峡': [111.19, 34.76],
        '锦州': [121.15, 41.13],
        '南昌': [115.89, 28.68],
        '柳州': [109.4, 24.33],
        '三亚': [109.511909, 18.252847],
        '自贡': [104.778442, 29.33903],
        '吉林': [126.57, 43.87],
        '阳江': [111.95, 21.85],
        '泸州': [105.39, 28.91],
        '西宁': [101.74, 36.56],
        '宜宾': [104.56, 29.77],
        '呼和浩特': [111.65, 40.82],
        '成都': [104.06, 30.67],
        '大同': [113.3, 40.12],
        '镇江': [119.44, 32.2],
        '桂林': [110.28, 25.29],
        '张家界': [110.479191, 29.117096],
        '宜兴': [119.82, 31.36],
        '北海': [109.12, 21.49],
        '西安': [108.95, 34.27],
        '金坛': [119.56, 31.74],
        '东营': [118.49, 37.46],
        '牡丹江': [129.58, 44.6],
        '遵义': [106.9, 27.7],
        '绍兴': [120.58, 30.01],
        '扬州': [119.42, 32.39],
        '常州': [119.95, 31.79],
        '潍坊': [119.1, 36.62],
        '重庆': [106.54, 29.59],
        '台州': [121.420757, 28.656386],
        '南京': [118.78, 32.04],
        '滨州': [118.03, 37.36],
        '贵阳': [106.71, 26.57],
        '无锡': [120.29, 31.59],
        '本溪': [123.73, 41.3],
        '克拉玛依': [84.77, 45.59],
        '渭南': [109.5, 34.52],
        '马鞍山': [118.48, 31.56],
        '宝鸡': [107.15, 34.38],
        '焦作': [113.21, 35.24],
        '句容': [119.16, 31.95],
        '北京': [116.46, 39.92],
        '徐州': [117.2, 34.26],
        '衡水': [115.72, 37.72],
        '包头': [110, 40.58],
        '绵阳': [104.73, 31.48],
        '乌鲁木齐': [87.68, 43.77],
        '枣庄': [117.57, 34.86],
        '杭州': [120.19, 30.26],
        '淄博': [118.05, 36.78],
        '鞍山': [122.85, 41.12],
        '溧阳': [119.48, 31.43],
        '库尔勒': [86.06, 41.68],
        '安阳': [114.35, 36.1],
        '开封': [114.35, 34.79],
        '济南': [117, 36.65],
        '德阳': [104.37, 31.13],
        '温州': [120.65, 28.01],
        '九江': [115.97, 29.71],
        '邯郸': [114.47, 36.6],
        '临安': [119.72, 30.23],
        '兰州': [103.73, 36.03],
        '沧州': [116.83, 38.33],
        '临沂': [118.35, 35.05],
        '南充': [106.110698, 30.837793],
        '天津': [117.2, 39.13],
        '富阳': [119.95, 30.07],
        '泰安': [117.13, 36.18],
        '诸暨': [120.23, 29.71],
        '郑州': [113.65, 34.76],
        '哈尔滨': [126.63, 45.75],
        '聊城': [115.97, 36.45],
        '芜湖': [118.38, 31.33],
        '唐山': [118.02, 39.63],
        '平顶山': [113.29, 33.75],
        '邢台': [114.48, 37.05],
        '德州': [116.29, 37.45],
        '济宁': [116.59, 35.38],
        '荆州': [112.239741, 30.335165],
        '宜昌': [111.3, 30.7],
        '义乌': [120.06, 29.32],
        '丽水': [119.92, 28.45],
        '洛阳': [112.44, 34.7],
        '秦皇岛': [119.57, 39.95],
        '株洲': [113.16, 27.83],
        '石家庄': [114.48, 38.03],
        '莱芜': [117.67, 36.19],
        '常德': [111.69, 29.05],
        '保定': [115.48, 38.85],
        '湘潭': [112.91, 27.87],
        '金华': [119.64, 29.12],
        '岳阳': [113.09, 29.37],
        '长沙': [113, 28.21],
        '衢州': [118.88, 28.97],
        '廊坊': [116.7, 39.53],
        '菏泽': [115.480656, 35.23375],
        '合肥': [117.27, 31.86],
        '武汉': [114.31, 30.52],
        '大庆': [125.03, 46.58]
    };
    //建立数据和地区的对应关系
    var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var geoCoord = geoCoordMap[data[i].name];
            if (geoCoord) {
                res.push({
                    name: data[i].name,
                    value: geoCoord.concat(data[i].value)
                });
            }
        }
        return res;
    };
    //计算offer百分比
    var top10Data = convertData(data.sort(function (a, b) {
            return b.value - a.value;
        }).slice(0, 10));
    data.sort(function(a,b){return b.value-a.value}).slice(0,10);
    var top10Max = data[0].value;
    var top10Min = data[9].value;

    //绘制地图
    option = {
        title: {
            text: '基于大数据的offer全国分布情况',
            left: 'left',
            textStyle: {
                color: '#123456',
                fontSize: 18,
            }
        },
        tooltip: {
            tigger: "item",
            formatter(params) {
                var count = params.data.value[2];
                var area = params.data.name;
                return "{{unifyName|safe}}平均工资:"+{{avgSalary|safe}}+"万/月  "+area+"地区offer数量占比为"+(count / {{ offers | safe }}).toPrecision(2)+ "%";
            }
        },
        bmap: {
            center: [104.114129, 37.550339],
            zoom: 2,
            roam: true,
            mapStyle: {
                styleJson: [{
                    'featureType': 'water',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'land',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#f3f3f3'
                    }
                }, {
                    'featureType': 'railway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fdfdfd'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry.fill',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'poi',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'green',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'subway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'manmade',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'local',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'boundary',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'building',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'label',
                    'elementType': 'labels.text.fill',
                    'stylers': {
                        'color': '#999999'
                    }
                }]
            }
        },
        series: [{
            name: 'Count',
            type: 'scatter',
            coordinateSystem: 'bmap',
            data: convertData(data),
            itemStyle: {
                color: '#4e72b8',
            },

        }, {
            name: 'Top 10',
            type: 'effectScatter',
            coordinateSystem: 'bmap',
            //保留前五的数据
            data: top10Data,
            symbolSize: function (val) {
                return (val[2] - top10Min) / (top10Max - top10Min)*20;
            },
            showEffectOn: 'render',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                formatter: '{b}',
                position: 'right',
                show: true
            },
            
            itemStyle: {
                color: '#494e8f',
                shadowBlur: 10,
                shadowColor: 'purple'
            },
            zlevel: 1
        }]
    };

    myChart.setOption(option);
    // myChart2.setOption(option);
</script>
</html>