<!DOCTYPE html>
<html>
<head>
    <title>大数据职业分析</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css"/>

    <script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" /></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/i18n/defaults-*.min.js" /></script>
</head>
<body>
    <style >
        h1 
        { 
            font-weight:boldl;
            border-bottom:1px solid #bbb;
            padding:0 0 10px 0;
        }                     
    </style>
      
    <script>
        function get_job()//获取用户选择的职业名,用于指向分页的url
        {
            var obj=document.getElementById("jobs"); 
            var index=obj.selectedIndex; //序号，取当前选中选项的序号 
            var val = obj.options[index].value; 
            document.getElementById("1").action=val+"/1";    
        }
    </script>
    <br>
    
    <div style="width:100%;text-align:center">
            <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="row">
                            <div class="span8">
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="/home">Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </nav>

        <div class="jumbotron">
            <h1>大数据职业分析与查询</h1>
            <p>原型机v0.1</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/255-1/SpiderJob-BigData" role="button">了解更多</a></p>             
        </div>
            
            
        <form  id ="1"  method="POST" class="form" >
                
                {% csrf_token %}
                职业统计<br>
            
                
                <select name="jobs" id="jobs" class="form-control" >
                    <option value="大数据开发">大数据开发</option>
                    <option value="大数据运维">大数据运维</option>
                    <option value="大数据架构师">大数据架构师</option>
                    <option value="大数据测试">大数据测试</option>
                    <option value="大数据分析">大数据分析</option>
                </select>
                                
                <button type="submit" class="btn btn-default" onclick="get_job()">
                        <span class="glyphicon glyphicon-search"></span>查询
                </button>
                {% csrf_token %}
        </form>

        <br>
        <br>

        <form action="stats" method="POST" class="option">
                {% csrf_token %}
                分类统计<br>
                <select name="option" class="form-control">
                    <option value="jobName">职业</option>
                    <option value="edu">教育背景</option>
                    <option value="exp">工作经验</option>
                    <option value="companyType">公司类型</option>
                    <option value="address">地区</option>
                    <option value="companyOrientation">公司领域</option>
                </select>
        
                <button type="submit" class="btn btn-default" >
                        <span class="glyphicon glyphicon-search"></span>查询
                </button>
                {% csrf_token %}
        </form>
    </div>
</body>
</html>