<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        h1 { 
                font-weight:boldl;
                border-bottom:1px solid #bbb;
                padding:0 0 10px 0;
                text-align:center;
            }
    </style>   
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="row">
              <div class="span8">
                  <ul class="nav nav-pills">
                    <li class="active"><a href="/home">Home</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
        
  <h1 >{{ jobName }}共有{{ offers}}个offer</h1>
  <div class="container">
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>职业名</th>
                  <th>公司名</th>
                  <th>薪水</th>
              </tr>
          </thead>
          <tbody>
              {% for j in jobinfo %}
              <tr>
                  <td>{{j.jobName}}</td>
                  <td>{{j.company}}</td>
                  <td>{{j.salary}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
        <nav aria-label="Page navigation">
              <ul class="pagination">
                  <li>
                    <a href="" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% for p in total_pages%}
                    <li><a href="{{p}}">{{p}}</a></li>
                  {% endfor %}
                  <li>
                    <a href="" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
              </ul>
        </nav>
  </div>
</body>
</html>
