<nav class="navbar navbar_top ">
          <div class="navbar-brand">
              <a id="Home" href="/">职业匹配系统</a>
          </div>
                <div class="navbar-collapse collapse " id="nav_col">
                    {% if is_admin %}
                        <div id="admin">
                            <a href="/admin/" id="a_admin">用户管理</a>
                        </div>
                    {% endif %}
                    {% if username %}
                        <div id='user_login'>
                        <a href="/dashboard" id="a_user_login">{{ username }}</a>
                        <a class="btn btn-default navbar-btn" href="/logout" id="logout_btn">登出</a>
                        </div>
                    {% else %}
                        <a class="btn btn-default navbar-btn" href="/login" id="login_btn">登入</a>
                    {% endif %}

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="https://github.com/255-1/JobMatching">联系我们</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    制作人 <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://github.com/255-1">255-1</a></li>
                                    <li><a href="https://github.com/Xkimnt">Xkimnt</a></li>
                                    <li><a href="https://github.com/Gordo-li">Gordo-li</a></li>
                                </ul>

                            </li>
                        </ul>
                </div>
</nav>