<!DOCTYPE html>
<html style="height: 90%">
<head>
    
    <meta charset="utf-8">
    <title>Stats</title>
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/echarts/dist/echarts.min.js"></script>

</head>
<body style="height: 100%; margin: 0">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="/home">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="main" style="height: 100%"></div>

    <script>
        var dom = document.getElementById("main");
        var myChart = echarts.init(dom);

        var data = {{ data | safe }};

        option = {
            legend: {},
            tooltip: {},
            dataset: {
                source: data
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 30
                }
            },
            yAxis: {
                name: "月薪(万/月)",
                type: 'value',
            },

            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [{
                    type: 'bar'
                },
                {
                    type: 'bar'
                },
                {
                    type: 'bar'
                }
            ]
        };



        // 使用刚指定的配置项和数据显示图表。
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
</body>
</html>