<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/static/css/dashboard/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/font-awesome-4.7.0/css/font-awesome.css">
    {% block css %}
    {% endblock %}


    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js" /></script>
    <scirpt type="text/javascript" src="/static/bootstrap-select-1.13.9/dist/js/i18n/defaults-*.min.js" /></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    {% block js %}
    {% endblock %}



</head>


<body>
        {% include 'big_data/nav.html' %} <!--引入导航栏-->

        <!--页面构成分为 侧导航栏+主页面-->


        <div class="container-fluid " >

            <div class="row" id="side-row">
                <!--侧导航栏-->
                <div class="col-md-2 "  id="sidebar">
                    <div class=" navbar-collapse collapse" id="sidebar-wrapper" role="navigation" >
                            <ul class="nav sidebar-nav">
                                <li class="sidebar-brand">
                                    <a href="#" class="sidebar-brand side-a">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        应用
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard" class="side-a " >
                                        <i class="fa fa-dashboard"></i>仪表盘
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/profile" class="side-a">
                                        <i class="fa fa-user-circle-o"></i>个人信息
                                    </a>
                                </li>

                                <li class="dropdown">
                                    <a href="/dashboard/salary/jobName" class="side-a" >
                                        <i class="glyphicon glyphicon-signal"></i> 薪水统计
                                    </a>

                                </li>
                                <li class="dropdown">
                                    <a href="/dashboard/jobinfo/前端/1" class="side-a">
                                        <i class="glyphicon glyphicon-list"></i> 工作查询
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/detail" class="side-a">
                                        <i class="fa fa-bar-chart-o"></i>详细统计
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/jobmatch" class="side-a">
                                        <i class="fa fa-binoculars"></i>职业匹配
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
                <!--主页面-->
                <div class="col-md-10" id="right_side">
                    {% block right_side %}
                    {% endblock %}

                </div>

</body>
</html>