body
{
    background-color: rgb(6,31,62);
}

.base
{
    display:flex;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    width: 90%;
    height: 80vh;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a33030;
}

.sign_in
{

    display: flex;
    padding: 5%;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    background-color: #2e5c84;

}

.sign_up
{

    display: flex;
    padding: 5%;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 0px 10px 10px 0px;

}

.sign_in > h2
{
    color:white;
    font-size:60px;
}

.sign_in > h6
{
    color: white;
    font-size: 24px;
}

.sign_up > h2
{
    font-size: 60px;
    color: rgb(6,31,62);
}

.sign_up > h6
{
    color: rgb(6,31,62);
    font-size: 24px;
}

#login_btn
{
    background-color: rgb(6,31,62);
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

input.form-control
{
    /*border: none;*/
    border-radius: 10;
    /*border-bottom: 1px solid rgb(6,31,62);*/
    /*box-shadow: none;*/
    color: rgb(6,31,62);
}

input::-webkit-input-placeholder
{
    color: rgb(6,31,62);
}

#register_btn
{
    background-color: #ffc554;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
}
