{% extends 'big_data/base.html' %}

{% block title %}
    DashBoard
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/profile.css">
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        $('#update_btn').click(function (event) {
            event.preventDefault();
            var username = document.getElementsByClassName('form-control')[0].value;
            var password = document.getElementsByClassName('form-control')[1].value;
            var email = document.getElementsByClassName('form-control')[2].value;
            var phone = document.getElementsByClassName('form-control')[3].value;
            var profile = document.getElementsByClassName('form-control')[4].value;

            if (phone = 'None')
            {
                phone='';
            }

            if (profile == "")
            {
                 profile = profile.placeholder;
                 if (profile == null)
                 {
                     profile ="";
                 }
            }



            if (password == "")
            {
                alert('密码不能为空');
                return;
            }
            if (email == "")
            {
                alert('邮箱不能为空');
                return
            }

            $.ajax({
                    type:"POST",
                    dataType:"json",
                    url:"/dashboard/profile",
                    data:{'username':username,
                          'password':password,
                          'email':email,
                          'phone':phone,
                          'profile':profile
                    },
                    success:function(ret){
                        var message = ret.message;
                        var r_email = ret.email;
                        var r_password = ret.password;
                        var r_phone = ret.phone;
                        var r_profile = ret.profile;

                        if(message == '修改成功！')
                        {
                            email.value=r_email;
                            password.value=r_password;
                            phone.value=r_phone;
                            profile.value=r_profile;

                            $('#password_span').html('');
                            $('#email_span').html('');

                            alert('修改成功');
                        }
                        else
                        {
                            $('#password_span').html(message.password);
                            $('#email_span').html(message.email);
                            $('#phone_span').html(message.phone);

                        }

                    }
                })
        })
    }
)
    </script>
{% endblock %}


{% block right_side %}
    <div id="profile">
        <h2>Profile</h2>
        <div>
            <div class="form-group">
                <label>用户名</label>
                <input type="text" value="{{ username }}" class="form-control" name="username" readonly="true">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" value="{{ password }}" class="form-control" name="password" id="pw">
                <span id="password_span"></span>
            </div>
            <div class="form-group">
                <label>邮箱</label>
                <input type="email" value="{{ email }}" class="form-control" name="email">
                <span id="email_span"></span>
            </div>
            <div class="form-group">
                <label>手机号</label>
                <input type="text" value="{{ phone }}" class="form-control" name="phone">
                <span id="phone_span"></span>
            </div>
            <div class="form-group">
                <label>个人简历</label>
                <textarea rows="5" class="form-control form-control-line" placeholder="{{ profile }}" name="profile"></textarea>
            </div>


            <div class="form-group">
                <button class="btn btn-success" id="update_btn">更新个人信息</button>
            </div>
        </div>
    </div>
{% endblock %}